.ContactUsInfoContainer{
    width: 70%;
    height: 45vw;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#InfoMapContainer{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 4%;

}

.wadokanContactInfo{
    margin-top: 15%;
    width: 45%;
    text-align: center;
}