.gearContainer{
    display: flex;
    flex-direction: row;
}

.GearTextContainer{
    width: 60%;
}

#Gearh1{
    text-align: left;
    margin-left: 8%;
    margin-top: 14%;
}
.gearPContainer{
    
    text-align: justify;
}

.gearPhoto{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}


@media (max-width: 500px) {
    .gearContainer{
        display: flex;
        flex-direction: column;
    }
  }
