.ContainerImageRights{
    background-color: #D9D9D9;
    height: 100%;
    width: 75vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 6%;   
    padding-bottom: 8%; 
}