.ContainerLicences{
   

        background-color: #D9D9D9;
        font-family: 'Montserrat';
        height: 100%;
        width: 75vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 6%;    
        
    
    
};