
.categories{
    text-decoration: underline solid #2196F3 3px;
}


.sidebar-user {
    position: static;
    width: 18rem;
    height: 100%;
    background-color: gray;
    
    
}
    .sidebar-user ul  li{
    list-style: none;
    padding: 1rem 2rem;
    justify-content:space-around;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 20px;
    }

li {
    color: gainsboro;
    text-align: center;
    padding: 20px 15px;
    list-style: none;
    margin-bottom: 15%;
}

@media (min-width: 320px) and (max-width: 760px){
    #links ul{
        font-size: 18px;
    }

    
}