.ImgFooter{
    display: block;
    margin: auto;
}

.Options{
    font-family: 'Montserrat';
  

}

.Option1{
    font-family: 'Montserrat';
   
}

.Option2{
    font-family: 'Montserrat';
}

.Option3{
    font-family: 'Montserrat';
}

@media (max-width: 767px) {
    .Options {
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }
    .IconsBox{
       display: flex;
       justify-content: center;
       padding-bottom: 3%;
    }


  }
