.ImgFooter{
    display: block;
    margin: auto;
}

.Options{
    font-family: 'Montserrat';
  

}

.Option1:{
    font-family: 'Montserrat';
   
}

.Option2{
    font-family: 'Montserrat';
}

.Option3{
    font-family: 'Montserrat';
}

@media (max-width: 767px) {
    .Options {
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }


  }
/* #container1{

    background-color: #2196F3;
    text-align: center;
    padding: 3vh;
    position: absolute;
    top: 100vh;
}

#links ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: black;
    padding-bottom: 3vh;
    list-style: none;
    justify-content:space-around;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 20px;
}

#links li a{
    text-decoration: none;
    color: black;
}

#social{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 7.2vw;
    
}

#social img{
    width:2vw;
    margin-left: 0.5vw;
}

#container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3E3E3E;
    text-align: center;
    padding: 0.5vh;
    color:white;
    font-family: 'Montserrat';
    font-size: 16px;
    position: absolute;
    top: 100%;
}

#legal a{
    text-decoration: none;
    color: white;
    margin-left: 3vw;
}

@media (min-width: 320px) and (max-width: 760px){
    #links ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 18px;
    }

    #links li{
        margin-bottom: 2vh;
    }

    #social{
        margin-top: -2vh;
    }

    #social img{
        margin-right: 1vw;
        width: 6vw;
    }
    
    #container2{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-top:0.5vh;
        padding-bottom:0.5vh;
    }

    #copyright{
        margin-bottom: 1vh;
    }
} */