.legal{
    padding: 8vh 15vw;
    font-family: 'Montserrat';
}

.legal h1{
    color: #3E3E3E;
    text-transform: uppercase;
    margin-bottom: 4vh;
}

.legal h2{
    color: #2196F3;
    margin-bottom: 2vh;
    margin-top:5vh;
}

.legal h3{
    color: #2196F3;
    margin-bottom: 2vh;
    margin-top:5vh;
}

.legal p, ul{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 2vh;
}

.legal ul{
    margin-left: 4vw;
}

Link {
    color: #2196F3;
    text-decoration: none;
}