.ContainerLicences{   

        background-color: #D9D9D9;
        font-family: 'Montserrat';
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 6%;          
    
    
};
