#schedulesTitle{

    text-align: center;
    font-family: 'Shojumaru';
    font-size: 40px;
    margin-top: 3vh;
}



#containerSchedule{
    
    background-color: #2196F3;
    text-align: center;
    padding-top:1vh;
    padding-bottom: 8vh;
    margin-top: 7vh;
    margin-bottom: 8vh;
  
}

#containerSchedule p{
    font-family: 'Montserrat';
    color: white;
    font-size: large;
    margin-bottom: 2vh;
    margin-top: 3vh;
    
}

select {

    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 4vh;
    width: 19vw;
    border-radius: 5px;
    border: solid #3E3E3E 2px;
    font-family: 'Montserrat';
    font-size: medium;
    text-transform: uppercase;
    text-align: center;
    
}

table{
    background-color: white;
    border: solid 3px black;
    width: 80vw;
    margin: auto;
    font-family: 'Montserrat';
    font-size:large;
}

#cityTitle{
    background-color: #3E3E3E;
    border-bottom: solid black 2px;
    color: white;
    height: 6vh;
    font-size: x-large;
    text-transform: uppercase;
}

#locationTitle{
    background-color: #878787;
    color: white;
    border-bottom: solid black 2px;
    height: 5vh;
    font-size: larger;
    text-transform: uppercase;
}

.dayTitle{
    background-color: #2196F3;
    color: white;
    border: solid black;
    height: 5vh;
    text-transform: uppercase;
}

th{
    background-color: #2196F3;
}

td{
    border: solid 2px black;
    height: 7vh;
    width: 6vw;
}

@media (max-width: 500px) {
    .responsive{
        font-size: .6875rem;
    }
  }