@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Shojumaru";
  src: url("./assets/font/Shojumaru.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* a{
  color: white !important;
} */